{% extends "templates/base.html" %}

{% block content %}
    <h1>GPX route upload</h1>
    <p>Do upload a GPX route, good sir:</p>
    <form method="post" action="upload" enctype="multipart/form-data">
        {{ csrf-field|safe }}
        <label>GPX file</label>
        <input type="file" name="route" />
        <button class="button">Upload</button>
    </form>

    <hr />

    <h3>Recent uploads</h3>
    <ul>
        {% for track in recent-tracks %}
            <li>
                <a href="/{{ track.slug }}">
                    {% if track.name %}
                        {{ track.name }}
                    {% else %}
                        {{ track.slug }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
