{% extends "templates/base.html" %}

{% block content %}
  <h1>{{ name }}</h1>

  <h3>Metadata</h3>

  Time: {{ metadata.time|date:fullDateTime }}<br />
  Link: {{ metadata.link }}

  <h3>Map</h3>

  <div id="track-map"></div>

  <h3>Elevation plot</h3>

  <div id="elevation-chart"></div>

  <h3 id="stats">Stats</h3>

  <h4>Totals</h4>

  Distance: {{ stats.total.distance|distance }}<br />
  Duration: {{ stats.total.duration|duration }}

  <h4>Speeds</h4>

  Max: {{ stats.speed.max|speed }}<br />
  Avg: {{ stats.speed.avg|speed }}

  <h4>Elevation</h4>

  Gain: {{ stats.elevation.gain|double-format:0 }} m<br />
  Loss: {{ stats.elevation.loss|double-format:0 }} m<br />
  Diff: {{ stats.elevation.diff|double-format:0 }} m
{% endblock content %}

{% block head %}
  <link rel="stylesheet" href="/assets/leaflet/leaflet.css" />
{% endblock head %}

{% block script %}
  <script type="text/javascript">
    // Global sadness
    var slug = "{{ slug }}";
  </script>
  <script src="/assets/leaflet/leaflet.js"></script>
  <script src="/assets/highcharts/highcharts.js"></script>
  <script src="/js/dist/track.js"></script>
{% endblock script %}
