{% extends "templates/base.html" %}

{% block content %}
  <h1>{{ name }}</h1>

  <h3>Metadata</h3>

  Time: {{ metadata.time|date:fullDateTime }}<br />
  Link: {{ metadata.link }}

  <h3>Map</h3>

  <div id="track-map"></div>

  <h3>Elevation plot</h3>

  <div id="elevation-chart"></div>

  <h3>Totals</h3>

  Distance {{ stats.total.distance|double-format:1 }} m<br />
  Duration {{ stats.total.duration|double-format:0 }} s

  <h3>Speeds</h3>

  Max: {{ stats.speed.max|double-format:2 }} km/h<br />
  Avg: {{ stats.speed.avg|double-format:2 }} km/h

  <h3>Elevation</h3>

  Gain: {{ stats.elevation.gain|double-format:1 }} m<br />
  Loss: {{ stats.elevation.loss|double-format:1 }} m<br />
  Diff: {{ stats.elevation.diff|double-format:1 }} m
{% endblock content %}

{% block head %}
  <link rel="stylesheet" href="/assets/leaflet/leaflet.css" />
  <style type="text/css">
    #track-map {
      height: 600px;
    }
    #elevation-chart {
      height: 400px;
      width: 100%;
    }
  </style>
{% endblock head %}

{% block script %}
  <script src="/assets/leaflet/leaflet.js"></script>
  <script src="/assets/highcharts/highcharts.js"></script>

  <script type="text/javascript">

    function zip(arrays) {
      return arrays[0].map(function(_,i){
        return arrays.map(function(array){return array[i]})
      });
    }
var chart;
    function elevationChart(targetID, times, elevations) {
      var target = document.getElementById(targetID);

      var dates = times.map(function (time) {
        return Date.parse(time);
      })

      var data = zip([dates, elevations]);

      chart = new Highcharts.Chart({
        chart: {
            renderTo: target,
            zoomType: 'x'
        },
        title: {
            text: 'Elevation'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: 'Exchange rate'
            }
        },
        legend: {
            enabled: false
        },
        series: [{
            type: 'area',
            name: 'elevation',
            data: data
        }]
      });

      console.log(chart);

    }


    document.addEventListener("DOMContentLoaded", function(event) {
      var segments = [{% for s in segment %}
        [{% for point in s.points %}[{{ point.lat }},{{ point.lon }}],{% endfor %}]
      {% endfor %}];

      var waypoints = [
        {% for wp in waypoint %}{ "lat": {{ wp.lat }}, "lon": {{ wp.lon }}, "name": "{{ wp.name }}" },
        {% endfor %}];

      var elevations = [{% for s in segment %}{% for point in s.points %}{{ point.ele }},{% endfor %}{% endfor %}];
      var times = [{% for s in segment %}{% for point in s.points %}"{{ point.time }}",{% endfor %}{% endfor %}];

      var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
      });

      var cyclemap = L.tileLayer('http://{s}.tile.thunderforest.com/cycle/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.thunderforest.com/">Thunderforest</a>,' +
                     '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      });

      var outdoors = L.tileLayer('https://[abc].tile.thunderforest.com/outdoors/{z}/{x}/{y}.png', {
         attribution: '&copy; <a href="http://www.thunderforest.com/">Thunderforest</a>,' +
                      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      })

      var defaultLayer = osm;

      var layers = {
        "OpenStreetMap": osm,
        "OpenCycleMap": cyclemap,
        "Outdoors": outdoors,
      };

      var trackMap = L.map('track-map').addLayer(defaultLayer);

      // Draw the line segments
      var points = segments.map(function (segment) {
        return segment.map(function (point) {
          return L.latLng(point[0], point[1]);
        })
      })

      var line = L.multiPolyline(points).addTo(trackMap);
      trackMap.fitBounds(line.getBounds());

      // Add waypoint markers
      waypoints.map(function(wp) {
        L.marker([wp.lat, wp.lon])
          .bindPopup(wp.name)
          .addTo(trackMap);
      });

      // Add layer control
      L.control.layers(layers).addTo(trackMap);

      elevationChart('elevation-chart', times, elevations);
    });
  </script>
{% endblock script %}
